<div class="form-container mr-bottom">
  <h1 class="title center">Approach Us</h1>

  <p class="subtitle center mr-bottom">
    Give feedback, report an issue or just say hello.
    <br>
    We'd love to hear from you.
  </p>

  <%= render "form", approachment: @approachment %>
</div>
