<h1>New Approachment</h1>
<hr>
<p>Name: <%= @approachment.name %></p>
<p>Email: <%= @approachment.email %></p>
<p>Subject: <%= @approachment.subject %></p>
<p>Message: <%= @approachment.message %></p>
