<header>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo", alt: "Logo", size: "80x80" %>
    <% end %>
  </div>

  <%# <div class="tagline">
    <p>Let's get things TODOed</p>
  </div> %>

  <div class="nav-links">
    <%= link_to root_path, id: "login" do %>
      <%= image_tag "login.svg", size: "28x28" %>
    <% end %>
  </div>
</header>
