<header>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo", alt: "Logo", size: "80x80" %>
    <% end %>
  </div>

  <div class="tagline">Let's get things TODOed</div>

  <div class="nav-links">
    <a href="#">Sign in</a>
  </div>
</header>
