<div class="danger-zone mr-top">
  <strong>Delete my account</strong>

  <p>Once you delete your account, all of your todos will be gone and you will no longer be considered a <strong>Todoer</strong>.</p>

  <p>So, please ask yourself again whether you can carry this burden for the rest of your life?</p>

  <div class="field">
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "This action cannot be undone. Are you sure?", turbo_confirm: "This action cannot be undone. Are you sure?" }, method: :delete, class: "danger" %>
  </div>
</div>
