<div class="form-container">
  <%= render "update_account_form" %>

  <%= render "change_password_form" %>

  <%= render "delete_account_section" %>

  <div class="center mr-top mr-bottom">
    <%= link_to "Back", root_path %>
  </div>
</div>
