:root {
  /* Colors */
  --main-white: #f0f0f8;
  --hover-white: #d1d1d1;
  --main-grey: #333333;
  --hoverlight-grey: #474747;
  --scrollbar-grey: #545454;
  --disabled-grey: #a5a5a5;
  --alert-red: #d8504a;
  --error-red: #9b4f4f;
  --danger-red: #9d2d2d;
  --hoverlight-red: #673737;
  --shadow-black: #212121;

  /* Properties */
  --default-border-radius: 10px;
  --default-container-padding: 20px;
  --default-input-padding: 14px;
  --default-transition: all 0.4s ease;
  --shadow-small: 0px 3px 6px var(--shadow-black);
  --shadow-large: 0px 4px 10px var(--shadow-black);
  --shadow-xlarge: 0px 8px 20px var(--shadow-black);
}
