/* This file corresponds to the CSS styles needed for HTML inside /app/views/layouts/application.html.erb */
/* and so the rest of the folders and files structure inside /app/assets/stylesheets */

/* Apply styles to the body and html elements to ensure full height */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

/* Set a global color */
body, a {
  color: #f0f0f8;
}

/* Create a flex container for the master-container */
#master-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Make the header stick to the top */
header {  
  background-color: #222;
  padding: 10px;
  position: sticky;
  top: 0;
  height: 50px; /* Set the fixed height */
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Distribute space evenly between children */
}

#main-content {
  background-color: #333;
  padding: 20px;
  flex-grow: 1; /* Allow the #main-content to take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Make the footer stick to the bottom */
footer {
  background-color: #333;
  padding: 20px;
  margin-top: auto; /* Push the footer to the bottom */
  text-align: center;
}
