<div class="homepage">
  <h1 class="tagline" data-tagline-scroll-target="tagline">1- Whaddya want TODO?</h1>
  <h1 class="tagline" data-tagline-scroll-target="tagline">2- What do you want TODO?</h1>
  <h1 class="tagline" data-tagline-scroll-target="tagline">3- Whaddyou want TODO?</h1>
  <h1 class="tagline" data-tagline-scroll-target="tagline">4- Whatya want TODO?</h1>
</div>
