:root {
  --todo-default-padding: 7px;
  --todo-default-field-left-margin: 40px;
  --todo-status-checkbox-grey: #7b7b7b;
  --todo-title-background-grey: #3d3d3d;
  --todo-title-border-grey: #4d4d4d;
  --todo-title-edit-mode-grey: #c7c7c7;
  --todo-hoverlight-grey: #474747;
  --todo-hoverlight-delete-red: #673737;
}

#todos-container {
  .todos {
    margin: 0;
    padding: 0;

    .todo {
      list-style-type: none;
      padding: var(--todo-default-padding) 0;
      display: flex;

      &#add-todo {
        align-items: flex-end;
      }

      .todo-status {
        margin: 11px;
        height: fit-content;

        .todo-status-checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 1px solid var(--todo-status-checkbox-grey);
          border-radius: 50%;
          width: 16px;
          height: 16px;
          transition: var(--default-transition);

          & img {
            opacity: 0;
            transition: var(--default-transition);
          }

          &:hover {
            border-color: var(--disabled-grey);
          }

          &.completed {
            background-color: var(--todo-status-checkbox-grey);

            &:hover {
              background-color: transparent;
            }
          }

          &.completed, &:hover {
            & img {
              opacity: 1;
              transition: var(--default-transition);
            }
          }
        }
      }

      .todo-data {
        width: 100%;

        #add-todo & {
          margin-left: var(--todo-default-field-left-margin);
        }

        .todo-title {
          padding: var(--todo-default-padding) 12px;
          outline: none;
          word-break: break-word;
          letter-spacing: .0065em;
          line-height: 1.5;
          transition: var(--default-transition);

          .todo:not(#add-todo) & {
            background-color: var(--todo-title-background-grey);
            border: 1px solid var(--todo-title-border-grey);
            border-radius: var(--default-border-radius);
          }

          &.field {
            padding-left: 0;
            padding-right: 0;
            border-bottom: 1px solid var(--scrollbar-grey);
          }

          &.completed {
            color: var(--disabled-grey);
            text-decoration: line-through;
            cursor: not-allowed;
          }

          &.invalid, &.invalid:hover, &.invalid:focus {
            border-color: var(--alert-red) !important;
          }

          &:focus {
            ~ .todo-info .todo-hint {
              opacity: 1;
              max-height: 100px;
            }
          }

          &:focus, &:not(&.completed):hover {
            border-color: var(--disabled-grey);
          }

          &:not(&.field):focus {
            background-color: transparent;
            color: var(--todo-title-edit-mode-grey);
            caret-color: var(--main-white);
            border-color: var(--disabled-grey);
          }
        }

        .todo-info {
          display: flex;
          justify-content: space-between;
          margin-top: 2px;
          font-size: 12px;

          .todo-error {
            color: var(--alert-red);
          }

          .todo-hint {
            opacity: 0;
            max-height: 0; /* We don't want .todo-hint to take its space initially since we're using opacity: 0; instead of display: none; */
            color: var(--todo-status-checkbox-grey);
            text-align: right;
            transition: var(--default-transition);
          }
        }
      }

      .todo-actions {
        opacity: 0;
        margin-top: 5px;
        margin-left: var(--todo-default-padding);
        height: fit-content;
        transition: var(--default-transition);

        & button {
          background: none;
          border: none;
          padding: 0;
        }

        & img {
          cursor: pointer;
        }

        &.visible, .todo:hover & {
          opacity: 1;
        }
      }

      .hoverlight {
        &:hover {
          background-color: var(--todo-hoverlight-grey);
        }

        &.delete:hover {
          background-color: var(--todo-hoverlight-delete-red);
        }
      }
    }
  }
}
