:root {
  --todo-default-padding: 7px;
  --todo-status-checkbox-grey: #7b7b7b;
  --todo-title-background-grey: #3d3d3d;
  --todo-title-border-grey: #4d4d4d;
  --todo-title-edit-mode-grey: #c7c7c7;
  --todo-hoverlight-grey: #474747;
  --todo-hoverlight-delete-red: #673737;
}

#app {
  width: 65%;

  /* Any Mobile Device */
  @media only screen and (max-width: 767px) {
    width: 95%;
  }

  /* Any Tablet Device */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 75%;
  }

  #todos-container {
    .todos {
      margin: 0;
      padding: 0;

      .todo {
        list-style-type: none;
        padding: var(--todo-default-padding) 0;
        display: flex;

        &#add-todo {
          align-items: flex-end;
        }

        .todo-status {
          margin: 11px;
          height: fit-content;

          .todo-status-checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid var(--todo-status-checkbox-grey);
            border-radius: 50%;
            width: 16px;
            height: 16px;
            transition: all .2s ease-in;

            & img {
              opacity: 0;
              transition: all .2s ease-out;
            }

            &:hover {
              border-color: var(--disabled-grey);
            }

            &.completed {
              background-color: var(--todo-status-checkbox-grey);

              &:hover {
                background-color: transparent;
              }
            }

            &.completed, &:hover {
              & img {
                opacity: 1;
                transition: all .2s ease-in;
              }
            }
          }
        }

        .todo-title {
          width: 100%;
          padding: var(--todo-default-padding) 12px;
          outline: none;
          word-break: break-word;
          letter-spacing: .0065em;
          line-height: 1.5;
          transition: all .2s ease-in;

          &.field {
            padding-left: 0;
            padding-right: 0;
            margin-left: 40px;
            border-bottom: 1px solid var(--scrollbar-grey);
          }

          &.completed {
            color: var(--disabled-grey);
            text-decoration: line-through;
            cursor: not-allowed;
          }

          .todo:not(#add-todo) & {
            background-color: var(--todo-title-background-grey);
            border: 1px solid var(--todo-title-border-grey);
            border-radius: var(--default-border-radius);
          }

          &:not(&.field) {
            &:focus {
              background-color: transparent;
              color: var(--todo-title-edit-mode-grey);
              caret-color: var(--main-white);
              border-color: var(--disabled-grey);
            }
          }

          &:focus, &:not(&.completed):hover {
            border-color: var(--disabled-grey);
          }
        }

        .todo-actions {
          opacity: 0;
          margin-top: 5px;
          margin-left: var(--todo-default-padding);
          height: fit-content;
          transition: all .2s ease-in;

          & button {
            background: none;
            border: none;
            padding: 0;
          }

          & img {
            cursor: pointer;
          }

          &.visible, .todo:hover & {
            opacity: 1;
          }
        }

        .hoverlight {
          &:hover {
            background-color: var(--todo-hoverlight-grey);
          }

          &.delete:hover {
            background-color: var(--todo-hoverlight-delete-red);
          }
        }
      }
    }
  }
}
