#app {
  width: 70%;

  & #todos-container {

    & ul.todos {
      margin: 0;
      padding: 0;

      & li.todo {
        list-style-type: none;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--main-grey);

        &:not(#new-todo):hover {
          border-bottom-color: #545454;
        }

        &:hover {
          & .todo-actions {
            opacity: 1;
          }
        }

        & .todo-status {
          padding: 7px;

          & .todo-status-checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid #7b7b7b;
            border-radius: 50%;
            width: 16px;
            height: 16px;
  
            & img {
              opacity: 0;
              transition: all .2s ease-out;
            }
  
            &.completed {
              background-color: #7b7b7b;
            }
  
            &.completed, &:hover {
              & img {
                opacity: 1;
                transition: all .2s ease-in;
              }
            }
          }
        }

        & .todo-title {
          padding: 7px;
          word-break: break-word;

          &.completed {
            color: var(--disabled-grey);
            text-decoration: line-through;
          }
        }

        & .todo-actions {
          opacity: 0;
          flex: 1;
          text-align: right;
          white-space: nowrap;

          & img {
            cursor: pointer;
          }

          & .hoverlight {
            &:hover {
              background-color: #454545;
            }
          }
        }
      }
    }
  }
}
