#app {
  width: 70%;

  & #todos-container {

    & li.todo {
      list-style-type: none;
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid #545454;

      &:hover {
        & .todo-actions {
          opacity: 1;
        }
      }

      &:not(:first-child) {
        padding-top: 20px;
      }

      & .todo-status {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid var(--disabled-grey);
        border-radius: 50%;
        width: 16px;
        height: 16px;

        & img {
          opacity: 0;
          transition: all .2s ease-out;
        }

        &.completed {
          background-color: var(--disabled-grey);
        }

        &.completed, &:hover {
          & img {
            opacity: 1;
            transition: all .2s ease-in;
          }
        }
      }

      & .todo-title {
        margin-left: 10px;
        margin-right: 10px;
        word-break: break-word;

        &.completed {
          color: var(--disabled-grey);
          text-decoration: line-through;
        }
      }

      & .todo-actions {
        opacity: 0;
        flex: 1;
        text-align: right;
        white-space: nowrap;

        & img {
          cursor: pointer;
        }
      }
    }
  }
}
