<%= turbo_frame_tag "todos" do %>
  <div id="todos-container">
    <ul id="incomplete-todos" class="todos">
      <%= render @incomplete_todos %>
    </ul>

    <ul class="todos">
      <%= render "form", todo: @new_todo %>
    </ul>

    <ul id="completed-todos" class="todos">
      <%= render @completed_todos %>
    </ul>
  </div>
<% end %>
