.form-container {
  width: 30%;

  .title {
    font-size: 3em;
  }

  #error {
    border-radius: var(--default-border-radius);
    padding: var(--default-input-padding);
    margin-bottom: 10px;
    background-color: var(--error-red);
  }

  .danger-zone {
    border: 1px solid var(--error-red);
    border-radius: var(--default-border-radius);
    padding: var(--default-container-padding);

    & button.danger {
      cursor: pointer;
      border-color: var(--error-red);
      background-color: var(--error-red);
      color: var(--main-white);

      &:hover {
        border-color: var(--danger-red);
        background-color: var(--danger-red);
      }
    }
  }

  & form {
    .field {
      margin-bottom: 10px;
    }

    & input[type="text"],
    & input[type="email"],
    & input[type="password"],
    & input[type="submit"],
    & button {
      width: 100%;
      box-sizing: border-box; /* Include padding and border in the width calculation */
      padding: var(--default-input-padding);
      background-color: transparent;
      border: 1px solid var(--main-white);
      color: var(--main-white);
      border-radius: var(--default-border-radius);
      font-size: 18px;
    }

    & input[type="submit"] {
      cursor: pointer;
      background-color: var(--main-white);
      color: var(--main-black);
  
      &:hover {
        background-color: var(--hover-white);
      }
    }

    & input:disabled {
      background-color: var(--disabled-grey);
      cursor: not-allowed;
    }

    /* Prevent browser autofill from changing background color of the input field */
    & input:autofill,
    & input:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--main-white);
      transition: background-color 5000s ease-in-out 0s;
      caret-color: var(--main-white);
    }
  }
}

/* Any Mobile Device */
@media only screen and (max-width: 767px) {
  .form-container {
    width: 70%;

    .title {
      font-size: 2em;
    }

    & form {
      & input[type="text"],
      & input[type="email"],
      & input[type="password"],
      & input[type="submit"],
      & button {
        font-size: 16px;
      }
    }
  }
}

/* Any Tablet Device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form-container {
    width: 40%;

    .title {
      font-size: 2.5em;
    }
  }
}
