.hide {
  display: none;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mr-top {
  margin-top: 30px;
}

.mr-bottom {
  margin-bottom: 30px;
}

.subtitle {
  color: var(--disabled-grey);
}

.hoverlight {
  border-radius: var(--default-border-radius);
  padding: 7px;
  transition: all .2s ease-out;

  &:hover {
    background-color: var(--main-grey);
    transition: all .2s ease-in;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #757575;
  pointer-events: none;
}
