:root {
  /* Colors */
  --main-white: #f0f0f8;
  --hover-white: #d1d1d1;
  --main-black: #222;
  --main-grey: #333;
  --disabled-grey: #a5a5a5;
  --alert-red: #d8504a;
  --error-red: #9b4f4f;
  --danger-red: #9d2d2d;

  /* Properties */
  --default-border-radius: 10px;
}
