:root {
  /* Colors */
  --white: #f0f0f8;
  --off-white: #d1d1d1;
  --black: #222;
  --grey: #333;
  --light-grey: #a5a5a5;
  --alert-red: #d8504a;
  --error-red: #9b4f4f;

  /* Properties */
  --default-border-radius: 6px;
}
