<% if resource.errors.any? %>
  <% errors = resource.errors %>

  <% if local_assigns.has_key?(:attributes) %>
    <% errors = filter_errors_for(attributes, errors) %>
  <% end %>

  <% if errors.any? %>
    <div class="error-message" data-turbo-cache="false">
      <%= errors.full_messages.first %>
    </div>
  <% end %>
<% end %>
