<div id="flash-messages">
  <div data-controller="toast">
    <% flash.each do |type, message| %>
      <input type="hidden" data-toast-target="message" data-message-type="<%= type %>" value="<%= message %>">
    <% end %>
  </div>
</div>
