<% unless user_signed_in? %>
  <footer>
    <p class="subtitle center">
      © <%= Date.today.year %> Todoer.
      <%= link_to "Did we todo it right?", approach_us_path %>
    </p>
  </footer>
<% end %>
