header {
  background-color: var(--main-black);
  padding: var(--default-container-padding);
  position: sticky; /* Make the header stick to the top */
  top: 0;
  height: 30px; /* Set the fixed height */
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Distribute space evenly between children */

  & .tagline {
    font-size: 1.2em;
  }

  & #logo {
    margin-left: 10px;
  }

  & #nav-link {
    margin-right: 10px;
  }
}
