<h1 class="align-left">Password changed</h1>

<div class="spacer"></div>

<div class="align-left">
  You have just changed the password of your Todoer account <%= mail_to @resource.email %>.
</div>

<div class="spacer"></div>

<div class="align-left subtitle">
  If it wasn't you then someone else might have access to your Todoer account. We recommend that you <%= link_to "reset your password", forgot_url %> right away in order to secure your account.
</div>
