<h1 class="align-left">Password changed</h1>

<div class="spacer"></div>

<div class="align-left">
  You have just changed your password for your Todoer account <%= mail_to @resource.email, class: "color-white" %>.
</div>

<div class="spacer"></div>

<div class="align-left subtitle">
  If it wasn't you, someone else might have access to your Todoer account. We recommend that you <%= link_to "reset your password", forgot_url, class: "color-grey" %> to keep your account safe.
</div>
