<h1 class="align-left">Reset your password</h1>

<div class="spacer"></div>

<div class="align-left">
  Forgot your password? Let's get you a new one:
</div>

<div class="spacer"></div>

<div>
  <%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token), class: "button" %>
</div>

<div class="spacer"></div>

<div class="align-left subtitle">
  If you didn't request this or don't want to change it, just ignore this email. Your password will stay the same.
</div>
